.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgba(80, 80, 80, 0.596);
  border-radius: 30px;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px rgb(39, 38, 38);
  padding: 20px 20px;
  z-index: 2;
  background-color: rgb(238, 236, 236);
}
