.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

@media screen and (min-width: 768px) {
  .form {
    min-width: 500px;
  }
};

@media screen and (max-width: 768px) {
  .form {
    min-width: 200px;
  }
};
