h1,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.page {
  min-width: 320px;
  margin: 0 auto;
  font-family: "Gilroy", sans-serif;
  color: rgba(12, 10, 7, 0.75);
  overflow: hidden;
  transition: height 0.2s ease-in, width 0.2s linear;
}
