h1,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 4px;
  border: 1px solid rgba(230, 230, 230, 0.932);
}

* {
  scrollbar-width: none;
  scrollbar-color: rgba(80, 80, 80, 0.5) rgba(80, 80, 80, 0.05);
}

.page {
  min-width: 320px;
  margin: 0 auto;
  font-family: "Gilroy", sans-serif;
  color: rgba(12, 10, 7, 0.75);
  overflow: hidden;
  transition: height 0.7s ease-in-out;
}
