.form__button {
  background-color: rgba(17, 17, 17, 0.822);
  border: 1px solid rgba(17, 17, 17, 0.822);
  width: 40%;
  height: 42px;
  color: rgba(231, 228, 228, 0.877);
  border-radius: 25px;
  cursor: pointer;
  transition: opacity 0.35s ease-in;
}

.form__button:hover {
  opacity: 0.7;
}
