.page__swap-button {
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(68, 66, 66, 0.54);
}

.page__swap-button:hover {
  opacity: 0.7;
}
