.page__swap-button {
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: red;
  border: none;
  border-radius: 50%;
}

.page__swap-button:hover {
  opacity: 0.7;
}
