.page__swap-button {
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(68, 66, 66, 0.54);
  padding: 0;
}

.page__swap-button:hover {
  opacity: 0.7;
  background-color: rgba(68, 66, 66, 1);
  cursor: pointer;
}
