.popup__container {
  display: flex;
  background-color: rgba(230, 230, 230, 0.932);
  position: relative;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px rgb(39, 38, 38);
  border: 3px solid rgba(80, 80, 80, 0.596);
  border-radius: 15px;
}
