.fullscreen {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  background: center center no-repeat
  url("https://images.unsplash.com/photo-1623721949492-88c84f98175e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
}
