.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  max-height: 300px;
  overflow: auto;
  padding: 0 10px;
  scrollbar-width: 7px;
  scrollbar-color: rgba(80, 80, 80, 0.5) none;
}

.footer__container::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
.footer__container::-webkit-scrollbar-track {
  background: none;
}
.footer__container::-webkit-scrollbar-thumb {
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 4px;
  border: 1px solid rgba(230, 230, 230, 0.932);
}
