.main-slide__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 768px){
  .main-slide__image {
    background-position: center center;
  }
}
