.page__button {
  position: fixed;
  bottom: 20px;
  z-index: 3;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 0;
  transition: all 0.3s linear;
}

.page__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .page__button {
    width: 35px;
    height: 35px;
    right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .page__button {
    width: 55px;
    height: 55px;
    right: 40px;
  }
}
