.form__close {
  width: 40px;
  height: 40px;
  background-color: rgba(17, 17, 17, 0.822);
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 37px;
  position: absolute;
  top: -11%;
  right: -8%;
  transition: opacity 0.3s linear;
}

.form__close:hover {
  opacity: 0.7;
}
