.controls__button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

@media screen and (max-width: 768px){
  .controls__button {
    font-size: 10px;
    padding: 10px;
  }
}
