@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/fullscreen/fulscreen.css);
@import url(../blocks/slider/slider.css);
@import url(../blocks/hidden/hidden.css);

@import url(../blocks/fullscreen/__title/fullscreen__title.css);

@import url(../blocks/page/__swap-button/page__swap-button.css);
@import url(../blocks/page/__swap-button/_up/page__swap-button_up.css);
@import url(../blocks/page/__swap-button/_center/page__swap-button_center.css);
@import url(../blocks/page/__swap-button/_down/page__swap-button_down.css);

@import url(../blocks/slider/__container/slider__container.css);
@import url(../blocks/main-slide/main-slide.css);
@import url(../blocks/main-slide/__image/main-slide__image.css);

@import url(../blocks/controls/controls.css);
@import url(../blocks/controls/__button/controls__button.css);
@import url(../blocks/controls/__button/_down/controls__button_down.css);
@import url(../blocks/controls/__button/_up/controls__button_up.css);



@import url(../blocks/page/__button/page__button.css);
@import url(../blocks/title/title.css);
@import url(../blocks/title/_size/title_size_s.css);
@import url(../blocks/subtitle/subtitle.css);
@import url(../blocks/subtitle/_size/subtitle_size_m.css);
@import url(../blocks/subtitle/_size/subtitle_size_s.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__main-slider/header__main-slider.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__main-illustration/_active/header__main-illustration_active.css);
@import url(../blocks/header/__main-information/header__main-information.css);
@import url(../blocks/header/__navigation-text/header__navigation-text.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__navigation/_hide/header__navigation_hide.css);

/*description block*/
@import url(../blocks/description/description.css);
@import url(../blocks/description/__text/description__text.css);

/*skills block*/
@import url(../blocks/skills/skills.css);
@import url(../blocks/skills/__description-cell/skills__description-cell.css);
@import url(../blocks/skills/__description-illustration/skills__description-illustration.css);
@import url(../blocks/skills/__description-text/skills__description-text.css);
@import url(../blocks/skills/__description/skills__description.css);

/*popup block*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);

/*form*/
@import url(../blocks/form/form.css);
@import url(../blocks/form/__button/form__button.css);
@import url(../blocks/form/__close/form__close.css);
@import url(../blocks/form/__item-el-message/form__item-el-message.css);
@import url(../blocks/form/__item-el-text/form__item-el-text.css);
@import url(../blocks/form/__item/form__item.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__item-error/form__item-error.css);
@import url(../blocks/form/__item/_type/form__item_type_error.css);
@import url(../blocks/form/__button/_disabled/form__button_disabled.css);
@import url(../blocks/form/__item-error/_visible/form__item-error_visible.css);

/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__button/footer__button.css);
@import url(../blocks/footer/__image-link/footer__image-link.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__text-link/footer__text-link.css);
@import url(../blocks/footer/__container/footer__container.css);

@import url(../blocks/feedback/feedback.css);
@import url(../blocks/feedback/__title/feedback__title.css);
@import url(../blocks/feedback/__text/feedback__text.css);
@import url(../blocks/feedback/__delete/feedback__delete.css);
