.controls__button_up {
  transform: translateY(-100%) translateX(-108%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 768px){
  .controls__button_up {
    transform: translateY(-100%) translateX(-113%);
  }
}
