.footer {
  position: relative;
  padding: 0 20px;
  display: flex;
  min-height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(rgba(236, 236, 236, 0.514), rgba(140, 140, 140, 0.69));
}
